<!DOCTYPE html>
<html>
  <head>
    <title>Kattya Cuevas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Software Developer">
    <meta name="language" content="en">
    <meta name="author" content="Kattya Cuevas">
    <meta name="subject" content="Personal website">
    <meta name="pagename" content="Kattya Cuevas">
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#000" />
    <meta name="apple-mobile-web-app-title" content="Kattya Cuevas" />
    <meta content="IE=edge,chrome=1" httpEquiv="X-UA-Compatible" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script id="schema" key="schema" type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Person",
        name: "Kattya Cuevas",
        birthDate: "1994-07-12",
        email: "kattya.cuevas@gmail.com",
        gender: "Female",
        givenName: "Kattya",
        familyName: "Cuevas",
        jobTitle: "Software Developer",
      }
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
